//header and navbar styles
header {
    padding-top: 4rem;
    @media (max-width: $screen-md) {
        padding-top: 2rem;
    }
}

.logo-name {
    font-size: 2.4rem;
    color: #fff;
    font-weight: bold;
    @media (max-width: $screen-md) {
        font-size: 1.8rem;
    }
}

.hero-nav {
    display: block;
    @media (max-width: $screen-sm) {
        display: none;
        margin-right: 15px;
    }
}

.hero-nav-item {
    display: inline-block;
    margin-right: 4.5rem;
    text-transform: uppercase;
    a {
        font-family: "Open Sans";
        font-size: 1.2rem;
        color: #9c9996;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $white;
        }
    }
    @media (max-width: $screen-sm) {
        display: block;
    }
}

.nav-item {
    display: inline-block;
    margin-right: 4.5rem;
    text-transform: uppercase;
    a {
        font-family: "Open Sans";
        font-size: 1.2rem;
        color: #9c9996;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $white;
        }
    }
}